@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}


.fab-main {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(135deg, #1e40af, #2563eb);
  color: white;
  border: none;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-main.rotate {
  transform: rotate(45deg);
}

.fab-option {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px 14px;
  border-radius: 999px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px) scale(0.9);
  transition: all 0.3s ease;
  pointer-events: none;
}

.fab-option.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}
